html, body {
  height: 100%;
  width: 100%;
}

header {
   position: relative;
   width: 100%;
   min-height: auto;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   background-image: url('../img/plano-de-fundo.jpg');
   text-align: center;
   color: white;
 }

 header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }

  .img-icon{
     width: 33%;
     border: 7px solid white;
 }

 header .header-content .header-content-inner h1 {
   font-weight: 700;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 40px;
   text-align: center;
 }

 @media (min-width: 768px) {
  header {
    min-height: 100%;
    text-align: center;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    text-align: center;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    text-align: center;
  }
  header .header-content .header-content-inner {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.shadow {
  text-shadow: black 0.1em 0.1em 0.5em;
}

.proximo {
      margin-top: 18px;
}

.text-center{
  text-align: center;
}

section {
  padding: 100px 0;
}

hr.light {
   border-width: 4px;
   max-width: 200px;
   color: #0E0E0E;
 }

a:focus, a:hover{
  color: white !important;
  text-decoration: none !important;
  background-color: #8B8B8D;
}

.btn-blue{
  color: white;
  background-color: #404041;
  border-color: #404041;
}

.tamb-img {
  width: 100%;
  height: 360px !important;
}
.background-color{
  background-color: #F2F2F4;
}
.slide-itens{
  overflow: hidden !important;
  width: 1200px !important;
  height: 400px !important;
}
